.layout-container {
  display: flex;
  height: 100vh;
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    &.mask-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .container {
    flex: 1;
    .fixed-header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      background: var(--bg-color);
      height: 105px;
    }
    .main {
      height: calc(100vh - 105px);
      margin-top: 105px;
      overflow-x: auto;
    }
  }
}

