.cat-manage {
  margin: 10px;
  background-color: var(--public-bg-color);
  padding: 20px;

  .search-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .operation {
    padding: 0 20px;
    
    .column {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &-left {
        margin-top: 5px;
        
        :global(.ant-btn-dangerous) {
          background-color: var(--type-danger-color) !important;
          border-color: var(--danger-border-color) !important;
          color: var(--danger-color) !important;

          &:hover {
            background-color: #f56c6c !important;
            color: #fff !important;
          }
        }
      }

      &-right {
        margin-top: 10px;
        margin-right: 5px;
      }
    }

    .rate {
      display: flex;
      gap: 2px;
    }

    :global(.ant-table) {
      padding-top: 5px;

      :global(.ant-btn-primary) {
        background-color: var(--type-primary-color) !important;
        border-color: var(--primary-border-color) !important;

        :global(.anticon) {
          color: var(--menu-active-text-color) !important;
        }

        &:hover {
          border-color: var(--menu-active-text-color) !important;
          background-color: var(--menu-active-text-color) !important;

          :global(.anticon) {
            color: #fff !important;
          }
        }
      }

      :global(.ant-btn-dangerous) {
        background-color: var(--type-danger-color) !important;
        border-color: var(--danger-border-color) !important;

        :global(.anticon) {
          color: var(--danger-color) !important;
        }

        &:hover {
          background-color: #f56c6c !important;

          :global(.anticon) {
            color: #fff !important;
          }
        }
      }
    }
  }
}

