.erro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  .error-box {
    width: 400px;
    
    img {
      margin-top: -200px;
      height: 300px;
      width: 100%;
    }
    
    .error-desc {
      font-size: 25px;
      color: #777;
      text-align: center;
    }

    .error-handle {
      margin-top: 20px;
      text-align: center;
    }
  }
}

:global(.ant-btn-primary) {
  background-color: var(--menu-active-text-color) !important;
  border-color: var(--button-color) !important;
  color: #fff !important;
  
  &:hover {
    border-color: var(--menu-active-text-color) !important;
  }
}

