.theme-container {
  position: relative;
  display: inline-block;
}
.switch-group {
  display: flex;
  align-items: center;
  .darkchange {
    cursor: pointer;
    .iconfont {
      font-size: 18px;
      color: var(--text-color-primary) !important;
    }
  }
}

.theme-switch {
  padding: 0 15px;
  cursor: pointer;
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  i {
    font-size: 20px;
    color: var(--text-color-primary);
  }
}

.theme-panel {
  position: absolute;
  width: 180px;
  top: 50px;
  right: -9px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  z-index: 10;
  .trangle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: -28px;
    right: 47px;
    &::after {
      content: '';
      border: 10px solid transparent;
      border-bottom-color: var(--trangle-color);
      transform: rotate(90deg);
    }
  }

  filter: drop-shadow(2px 0 2px rgba(0, 0, 0, 0.05)) drop-shadow(-2px 0 2px rgba(0, 0, 0, 0.05));
  .theme-item {
    width: auto;
    padding-top: 5px;
    cursor: pointer;
    .theme-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .block {
        width: 46px;
        height: 24px;
        border-radius: 8px;
        border: 1.5px solid #e5e6eb;
        display: flex;
        justify-content: center;
        align-items: center;
        .color-block {
          width: 16px;
          height: 16px;
          border-radius: 5px;
        }
      }

      .theme-label {
        margin: 5px;
        font-size: 12px;
        color: var(--text-color-primary);
        text-align: center;
      }
    }
    &:hover {
      .block {
        border-color: var(--bg-color) !important;
      }
    }
    &.active {
      .block {
        border-color: var(--bg-color) !important;
      }
    }
  }
}

