.user-profile-container {
  margin: 10px 7px;
}

.profile-card {
  height: 370px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.avatar-wrapper {
  cursor: pointer;
  position: relative;
  margin: 37px auto 0px;
  width: 128px;
  height: 128px;
  text-align: center;
}

.profile-avatar {
  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar-mask {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.avatar-wrapper:hover .avatar-mask {
  opacity: 1;
}

.mask-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.profile-info {
  text-align: center;
}

.username {
  font-size: 24px;
}

.tag-container {
  margin: 10px 0;
}

:global(.ant-tag) {
  margin-right: 5px;
}

:global(.ant-tag.ant-tag-primary) {
  background-color: var(--menu-bg2) !important;
  border-color: var(--bg-color) !important;
  color: var(--menu-active-text-color) !important;
}

.email {
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.time {
  margin-left: 10px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tabs-card {
  margin-top: 20px;
}

:global(.ant-tabs-content-holder) {
  padding: 20px;
}

:global(.ant-form) {
  width: 400px;
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 8px;
}

