.column-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-icon {
  cursor: pointer;
  color: var(--text-color-primary);
  font-size: 18px;

  &:hover {
    color: var(--menu-active-text-color);
  }
}

:global(.ant-dropdown-menu) {
  max-height: 190px;
  overflow-y: auto;

  :global(.ant-dropdown-menu-item) {
    color: var(--text-color-primary) !important;

    &:hover {
      background-color: transparent !important;
      color: var(--menu-active-text-color) !important;
    }
  }
}

:global(.ant-checkbox) {
  height: 15px;
}

