/* 全局样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', 'yahei', Helvetica, 'microsoft yahei', arial, STHeiTi,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color1, #f5f5f5);
}

#root {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

.iconfont {
  margin-right: 5px;
}

