.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .login-container {
    z-index: 1;
    width: 400px;
    border-radius: 5px;
    background-color: var(--bg-color1, #fff);
    padding: 40px 50px 50px;
    box-sizing: border-box;

    .login-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      .logo {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        background: url('@/assets/images/login.png') no-repeat center / cover;
      }
      .login-title {
        font-size: 22px;
        color: var(--menu-active-text-color);
        font-weight: bold;
      }
    }
    .ant-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #787878;
      }
      .ant-btn-primary {
        border-radius: 15px;
        width: 100%;
        background-color: var(--menu-active-text-color) !important;
        border-color: var(--button-color) !important;
        color: #fff !important;
        &:hover {
          border-color: var(--menu-active-text-color) !important;
        }
      }
      .login-text {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #787878;
      }
    }
  }
}

